* {
    font-family: Arial, Helvetica, sans-serif;
}

.NavLink {
    color: #FFFDFD;
    text-align: center;
    text-decoration: none;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.NavLink:hover {
    background-color: #DCE8EA;
    color: #008196;
}

.NavBarContainer {
    background-color: #008196;
    display: flex;
    border-radius: 3px;
}

.IconContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    gap: 10px;
}