.container {
    width: fit-content;
    margin: auto;
}

.method {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 900;
}

.box-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #008196;
    margin-left: 30px;
    margin-right: 30px;
    width: 100px;
    height: 100px;
}

img {
    width: 90px;
    height: 90px;
}