.confirm-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.confirm-container .detail-title {
  position: absolute;
  font-size: 1.5em;
  width: 50%;
  text-align: center;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}
.info-box {
  border: 3px solid #0f6cbf;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 20%;
  box-shadow: 0 2px 2px #777;
}
.inputting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  outline: none;
}
.inputting input {
  background-color: #d9d9d9;
  border: none;
  border-radius: 3px;
  width: 95%;
  height: 45%;
  padding: 0 2.5%;
  color: black;
  caret-color: black;
}
.inputting .text {
  display: flex;
  font-weight: 500;
  align-items: center;
  font-size: 0.7em;
}
.inputting input:focus {
  outline: none;
}
.inputting input::placeholder {
  color: black;
  font-weight: 600;
  font-size: 0.8em;
  display: flex;
  opacity: 0.5;
}
input::content {
  color: black;
}
.info-box .line {
  width: 90%;
  position: absolute;
  top: 60%;
  left: 5%;
  height: 1.5px;
}
.below-line {
  position: absolute;
  top: 65%;
  height: 30%;
  width: 100%;
  padding: 5px;
}
.payment-method {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  gap: 10px;
}
.hcmut-logo {
  object-fit: contain;
  height: 70%;
  width: auto;
}
.bkpay {
  display: flex;
  flex-direction: column;
  width: 50px;
  justify-content: center;
  gap: 3px;
  align-items: center;
  height: 60px;
}
.logo-text {
  font-weight: 500;
  font-size: 0.6em;
  color: #008196;
}
.otp-verify {
  position: absolute;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 170px;
  top: 15px;
}
.payment-method .title {
  font-size: 0.7em;
  font-weight: 500;
  text-align: center;
}
.otp-verify .title {
  font-weight: 500;
  font-size: 0.7em;
  text-align: center;
}
.choose-veri {
  display: flex;
  flex-direction: column;
  height: 40px;
  gap: 10px;
  align-items: center;
  width: 100px;
}
.choose-veri button {
  flex: 1;
  padding: 0;
  font-size: 0.6em;
  width: 90%;
  height: 20%;
  background-color: white;
  color: black;
  border: 1.5px solid black;
  border-radius: 5px;
}
.choose-veri button.active {
  background-color: #ccc;
}
.bill-info {
  position: absolute;
  top: 25%;
  border-radius: 7px;
  background-color: #dce8ea;
  left: 60%;
  width: 250px;
  height: 300px;
  padding: 10px;
  box-shadow: 0 2px 3px #bbb;
}
.bill-summary-title {
  position: relative;
  font-weight: 500;
  color: #008196;
  padding-bottom: 5px;
}
.bill-info .line {
  background-color: black;
  width: 100%;
  height: 1.5px;
  position: relative;
}
.group {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.page-content-info,
.subtotal-info,
.total-title,
.page-content-number,
.subtotal-count,
.total-pay {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  font-weight: 500;
  justify-content: flex-start;
  width: 50%;
  padding: 10px 0;
  gap: 5px;
}
.page-content-info,
.subtotal-info,
.total-title {
  align-items: flex-start;
  flex: 1;
}
.page-content-number,
.subtotal-count,
.total-pay {
  align-items: flex-end;
  flex: 1;
}
.bill-info input {
  background-color: #ccc;
  border-radius: 2.5px;
  border-color: black;
  width: 70%;
  height: 100%;
  font-size: 0.9em;
}
.continue {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}
.info-box a {
  text-decoration: none;
}
