.container {
    width: fit-content;
    margin: auto;
}

.numpage {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 900;
}

input {
    height: 40px;
    font-size: 20px;
    border: 3px solid #0F6CBF;
    margin-bottom: 30px;
}

.choose {
    color: #0F6CBF;
    font-weight: 500;
}

.result {
    color: #0F6CBF;
    font-weight: 700;
}

.result-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 20px;
    border: 3px solid #0F6CBF;
    margin-bottom: 80px;
    width: 150px;
}

.papers {
    display: flex;
    gap: 100px;
    margin-bottom: -10px;
}

.sum {
    display: flex;
    justify-content: center;
    margin-bottom: -40px;
}